img {
    border-radius: 40px;
}



 input{
     font-size: 0px;
    padding: 0px 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 153, 255);
    border: none;
    border-radius: 80px;

 }

 div{
    color: black;
 }
 
 jogo{
        font-size: 90px;
 border-radius: 40px;
 }